html {
    background-color: ghostwhite;
}

body {
    font-family: Helvetica;
    background-color: white;
    margin: 20px auto;
    padding: 0 50px;
    width: 1000px;
    border: 1px black solid;
    box-shadow: 5px 5px gray;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

header {
    width: 1000px;
    height: 80px;
    align-items: center;
    z-index: 1;
}

nav li {
    display: inline;
}

.icon {
    width: 32px;
    height: 32px;
}

main {
    margin: 20px auto;
}

h1, h2, h3, h4 {
    text-align: center;
}

img {
    width: 298px;
    height: 278px;
}

#about-me-description {
    padding: 0 10px;
    width: 600px;
}

footer {
    border-top: 1px solid black;
    width: 1000px;
}

#social-media {

}