html {
    background-color: ghostwhite;
}

body {
    font-family: Helvetica;
    background-color: white;
    margin: 20px auto;
    width: 1200px;
    border: 1px black solid;
    box-shadow: 5px 5px gray;
}

header {
    border-bottom: 1px solid black;
    position: fixed;
    width: 1200px;
    height: 80px;
    align-items: center;
    z-index: 1;
}

nav h1,
nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

nav a:hover {
    background-color: lightgray;
}

main {
    margin: 100px auto;
    padding: 0 10px;
}

h1, h2, h3 {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

img {
    width: 298px;
    height: 278px;
}

#about-me-description {
    padding: 0 10px;
    width: 600px;
}

footer {
    border-top: 1px solid black;
    width: 1200px;
}

#social-media {
    padding-right: 20px;
}